/*------------ Item controls -------------*/
.setting-item-control {
	font-family: var(--font-text-theme);
    gap: var(--size-4-1);
}

/*--------------- General ----------------*/

.modal:is(.mod-settings, .modal.mod-community-modal) {
	border: 1px solid var(--modal-border-color);
	border-radius: var(--window-radius);
	/* animation: open 150ms; */
	height: 740px;
	--scrollbar-thumb-bg: var(--faint-trans);
	--scrollbar-active-thumb-bg: var(--color-base-30);
	font-family: var(--font-text-theme);
}

.modal:is(.mod-settings, .modal.mod-community-modal)::before{
	content: "";
	width: 100%;
	height:42px;
	background-color: var(--background-secondary);
	background-image: var(--tab-gradient);
	border-bottom: 2px solid var(--large-border-color);
	position: absolute;
	pointer-events: none;
	z-index: 1;
}
.modal:is(.mod-settings, .modal.mod-community-modal)::after {
	content: "Velocity 0.6.2-alpha";	
	width: 100%;
	background-color: var(--background-secondary);
	background-image: var(--tab-gradient-1);
	border-top: 2px solid var(--large-border-color);
	bottom: 0px;
	position: absolute;
	font-weight: var(--status-bar-font-weight);
	font-size: 13px;
	line-height: 1.8;
	padding-left: calc(100% - 132px);
	color: var(--status-bar-text-color);
	text-shadow: var(--text-metal-shadow);
	pointer-events: none;
	z-index: 1;
}
/* grain */
.modal.mod-sidebar-layout .modal-content::before {
    content: "";
	width: 100%;
	height:42px;
	background: var(--metal-grain);
	border-bottom: 2px solid var(--color-base-55);
	filter: opacity(0.025);
	position: absolute;
	pointer-events: none;
	z-index: 2;
}
.modal.mod-sidebar-layout .modal-content::after {
	content: "";	
	width: 100%;
	background: var(--metal-grain);
	border-top: 2px solid var(--color-base-55);
	bottom: 0px;
	filter: opacity(0.025);
	position: absolute;
	height: 20px;
	pointer-events: none;
	z-index: 2;
}

:is(.mod-settings, .modal.mod-community-modal) .modal-close-button {
	color: var(--color-base-20);
	margin-right: var(--size-2-1);
	margin-top: 0px;
	line-height: 18px;
    text-indent: -0.5px;
}

/*--------------- Community --------------*/

.community-modal-controls{
	background: var(--color-base-10);
	margin-top: -49px;
	margin-bottom: -10px;
	border-inline: 17px solid var(--color-base-20);
	border-bottom: 17px solid var(--color-base-20);
	border-radius: 20px;
	min-height: 112px;
}

.mod-community-modal .modal-sidebar .setting-item {
    padding: 0 var(--size-4-4) var(--size-4-1);
}

.mod-community-modal .setting-item:first-child {
	z-index: var(--layer-status-bar);
	padding-bottom: var(--size-4-2);
	padding-inline-start: 0;
	margin-left: -0.5px;
}
.mod-community-modal .modal-sidebar .search-input-container {
    height: 28px;
	border-radius: var(--size-4-1);
	z-index: var(--layer-status-bar);
}
.mod-community-modal .search-input-container input {
	border-radius: var(--size-4-1);
	border-color: var(--color-base-20);
	height: 28px;
	padding-top: 5px;
}

.mod-community-modal .modal-sidebar button.clickable-icon {
    padding: var(--size-2-3) 10px;
    color: var(--color-base-80);
	z-index: var(--layer-status-bar);
}

.mod-community-modal .modal-sidebar .setting-item-name {
	color: var(--color-base-80);
	font-family: var(--font-text-theme);
    font-size: var(--font-ui-small);
	font-weight: var(--font-medium);
    padding-inline-start: 0;
}
.community-modal-search-summary {
	opacity: 0;
	padding-bottom: 0;
	margin-bottom: -14px;
}

.community-modal-search-results {
	background: var(--color-base-20);
    gap: var(--size-2-3);
    padding-bottom: var(--size-4-8);
	padding-top: 0;
	padding-left: var(--size-4-4);
	padding-right: var(--size-4-1);
}
.community-modal-search-results-wrapper {
    border-top: none;
	--scrollbar-thumb-bg: transparent;
	--scrollbar-active-thumb-bg: var(--color-base-50);
}

/*------------- Details page -------------*/

.modal-setting-nav-bar {
    height: 63px;
    padding: var(--size-4-4);
    border-bottom: 1px solid var(--color-base-10);
}

.community-modal-details {
    border-left: none;
	margin-top: 42px;
}
/* push loading bar below modal details */
.community-modal-details.is-loading:before {
    top: 63px;
}

.community-modal-info {
    padding-inline: var(--size-4-12);
}
.community-modal-info-name {
	font-family: var(--h1-font);
    font-size: var(--size-4-13);
    font-weight: var(--font-medium);
    line-height: var(--line-height-normal);
    margin-bottom: var(--size-4-2);
	margin-left: -2px;
}


/*------------- Plugin items -------------*/

.community-item {
    background: var(--tab-gradient-3);
    border-radius: var(--size-4-1);
    border: 1px solid var(--color-base-30);
	gap: var(--size-2-1);
	padding: var(--size-4-2);
}
.community-item:hover {
	border-color: var(--color-base-50);
}

.community-item-name {
	border-bottom: 1px solid var(--color-base-30);
	color: var(--color-base-90);
	font-family: var(--heading-font);
    font-size: var(--size-4-5);
	padding-bottom: var(--size-4-1);
	margin-bottom: var(--size-2-1);
	display: grid;
	grid-template-columns: 4fr 1fr;
}
.community-item-name span.suggestion-highlight {
	display: contents;
}
.community-item-name span.flair {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: auto;
}
.community-item-author {
    color: var(--color-base-100);
	font-weight: var(--font-medium);
	margin-bottom: 2px;
}
.community-item-downloads {
    color: var(--color-accent);
    --icon-stroke: var(--icon-m-stroke-width);
}
.community-item-desc {
	margin-top: 2px;
	padding: 2px;
	padding-top: 0;
}
.community-item-updated {
	font-size: 10px;
	font-weight: var(--font-medium);
	color: var(--color-accent);
	padding-left: 2px;
}

body:not(.is-phone) .community-item.is-selected {
    background: var(--color-base-30);
	border-color: var(--color-base-40);
}
body:not(.is-phone) .community-item.is-selected:hover {
    background: var(--color-base-30);
	border-color: var(--color-base-55);
}

body:not(.is-phone) .community-item.is-selected 
.community-item-name {
    color: var(--color-base-100);
	border-color: var(--color-base-40);
}
.community-item:not(.is-selected):hover 
.community-item-name {
	color: var(--color-base-90);
	border-color: var(--color-base-40);
}

body:not(.is-phone) .community-item.is-selected
:is(
.community-item-author, 
.community-item-downloads,
.community-item-desc, 
.community-item-name span.flair,
.community-item-updated) {
    color: var(--color-base-90);
}
body:not(.is-phone) .community-item.is-selected:hover
.community-item-name {
	border-color: var(--color-base-50);
}

/*------------- Theme items --------------*/


.mod-community-theme .community-item {
    display: grid;
	grid-template-columns: 1fr 1fr;
}

.mod-community-theme .community-item-name {
	grid-column: 1 / -1;
}

.mod-community-theme .community-item-author {
    color: var(--text-muted);
	grid-column: 1 / 2;
	grid-row: 2;
}
.mod-community-theme .community-item-badge.mod-update {
    --icon-size: var(--icon-s);
    --icon-stroke: var(--icon-m-stroke-width);
	margin-top: -12px;
	padding-top: 2px;
    inset-inline-end: 92px;
	grid-column: 2;
	grid-row: 2;
}
.mod-community-theme .community-item-downloads {
	grid-column: 2;
	grid-row: 2;
	padding-right: var(--size-2-1);
	text-align: end;
}
.community-item-screenshot {
	grid-column: 1 / -1;
	grid-row: 3;
    margin-top: var(--size-4-1);
}

/*--------------- Settings ---------------*/

.modal.mod-settings .vertical-tab-content {
    height: 674px;
	margin-bottom: var(--size-4-5);
	margin-top: 43px;
	padding: 
	var(--size-4-7) 
	var(--size-4-10) 
	var(--size-4-16) 
	var(--size-4-11);
}
.modal.mod-settings .vertical-tab-header {
	height: 674px;
	background-color: var(--menu-hover);
	background-image: linear-gradient(to left, var(--glass-trans) -4px, transparent 4px);
    border-inline-end: 1px solid var(--color-base-35);
	color: var(--color-base-90);
	font-family: var(--font-interface-theme);
	margin-top: 43px;
	padding: 
	var(--size-4-4) 
	var(--size-2-1) 
	var(--size-4-3) 
	var(--size-4-1);
	--scrollbar-thumb-bg: transparent;
	--scrollbar-active-thumb-bg: var(--color-base-05);
}

.modal.mod-settings .vertical-tab-header-group {
    padding-bottom: var(--size-4-3);
	padding-left: var(--size-4-2);
	cursor: pointer;
}

.modal.mod-settings .vertical-tab-nav-item {
	border-radius: 4px;
	padding-left: 10px;
	padding-block: 6.5px;
	font-size: 13px;
	font-weight: var(--font-normal);
	color: var(--color-base-100);
	transition: padding-left var(--anim-duration-fast) var(--anim-motion-swing);
	cursor: pointer;
}
.modal.mod-settings .vertical-tab-nav-item:not(.is-active):hover {
	padding-left: 16px;
	font-weight: var(--nav-item-weight-hover);
	color: var(--nav-item-color-hover);
}
.modal.mod-settings .vertical-tab-nav-item.is-active {
	padding-left: 16px;
	background-color: var(--search-trans);
    background-image: var(--gradient-glass-1);
	box-shadow: var(--glass-shadow);
    color: var(--nav-item-color-active);
	font-weight: var(--nav-item-weight-active);
	text-shadow: var(--text-glass-shadow);
}

body:not(.setting-item-title-icon-remove):not(.is-phone) 
.vertical-tab-header-group .vertical-tab-header-group-title {
	color: var(--color-base-55);
	font-family: var(--font-interface-bold);
    font-size: 12px;
    letter-spacing: 1.5px;
	text-indent: 2px;
    text-transform: uppercase;
	line-height: var(--line-height-normal);
	border-bottom: 1.2px solid var(--color-base-30);
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding-top: 0;
}

.setting-item {
    padding: 0.75em 0;
    border-top: 1px solid var(--hover-trans);
}
.setting-item-heading {
    border-top: none;
	padding-bottom: 8px;
}
.setting-item-heading .setting-item-name {
    color: var(--text-normal);
    font-size: 16px;
	font-weight: var(--font-semibold);
}
.setting-item-name {
	color: var(--color-base-90);
    line-height: var(--line-height-tight);
	font-weight: var(--font-normal);
}

.setting-hotkey.mod-active {
    background: var(--tab-gradient-4);
    color: var(--color-base-100);
	border-radius: var(--button-radius);
	box-shadow: var(--input-shadow);
}
.mod-hotkey .input-right-decorator {
    inset-inline-end: var(--size-2-3);
}

.global-search-input-container {
	background-color: var(--glass-trans-2);
	border-color: var(--border-trans);
	border-radius: var(--button-radius);
}
.global-search-input-container input {
	border-color: var(--border-trans);
	background-color: var(--glass-trans-2);
}

input[type="color"] {
	box-shadow: none;
}