body {	
	--table-background: none;
	--table-row-alt-background: var(--faint-trans);
	--table-row-background-hover: none;
	--table-row-alt-background-hover: var(--faint-trans);
	--table-column-alt-background: none;
	--table-border-color: var(--color-base-20);
	--table-header-size: 13px;
	--table-header-color: var(--text-normal);
	--table-line-height: 1.6;
	--table-text-size: 14.5px;
	--table-text-weight: var(--font-normal);
}

.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, :is(.markdown-rendered, .markdown-source-view.is-live-preview) table {
	width: 100%;
}

/* body .markdown-rendered table thead  {
	box-shadow: 0 1.25px 1.5px 0 var(--color-base-20);
}  */
body .markdown-rendered table thead tr > th {
	border: none;
	border-bottom: 2px solid var(--table-header-border-color);
	font-size: var(--table-header-size);
	font-weight: 550;
	line-height: var(--table-line-height);
	padding-inline: 12px;
	padding-bottom: 6px;
} 
body .markdown-rendered table tr td {
	border: none;
	border-left: 1px solid var(--table-border-color);
	padding-inline: 12px;
	font-weight: var(--font-normal);
}

body .markdown-rendered table tr td:first-child, 
body .markdown-rendered table tr th:first-child {
	border-left: none;
}

/* body .markdown-source-view .cm-table-widget tr:first-child .cm-line {
    font-family: var(--table-header-font);
} */