
body {	
	--table-background: none;
	--table-row-alt-background: var(--faint-trans);
	--table-row-background-hover: none;
	--table-row-alt-background-hover: var(--faint-trans);
	--table-column-alt-background: none;
	--table-border-color: var(--color-base-20);
	--table-header-size: 13px;
	--table-header-color: var(--text-normal);
	--table-line-height: 1.6;
	--table-text-size: 14.5px;
	--table-text-weight: var(--font-normal);
}