body {
	--metadata-border-color: var(--hr-color);
	--metadata-border-radius: var(--size-2-3);
	--metadata-padding: var(--size-2-1);
	--metadata-gap: 0.2em;
	--metadata-property-background: transparent;
	--metadata-property-radius: 6px;
}